
body {
  height: 40px;
  width: 220px;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;

  border: 2px solid black
}

#buttons-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

button {  
  height: 35px;
  padding: 8px;
  aspect-ratio: 1/1;
  border: none;
}
button:hover {
  transform: scale(1.05) !important;
}
button:active {
  transform: scale(0.95)  !important;
  filter: brightness(0.8)  !important;
}

#draw-button {
  background: url(icons/pencil.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#erase-button {
  background: url(icons/eraser.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#text-button {
  background: url(icons/alphabet.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#delete-button {
  background: url(icons/x-square.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#measure-button {
  background: url(icons/rulers.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  cursor: url(icons/dot.png) !important;
}

.dot-cursor {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  border-width: 25px;
  border-style: solid;
  border-color: black;
  padding: 20px;
  background-color: black;
  display: inline-block;
}